<h1>Annuity &amp; Amortizing Mortgage</h1>

<table class="well">    
    <tr>
        <td><h4>Cash Flow per Period (C)</h4></td>
        <td><input id="a-cash-flow" /></td>
    </tr>
    
    <tr>
        <td><h4>Yield (y)</h4></td>
        <td><input id="a-yield" /></td>
    </tr>
    
    <tr>
        <td><h4>Maturity in Periods (M)</h4></td>
        <td><input id="a-maturity" /></td>
    </tr>
    
    <tr>
        <td><h4>Times compounded per period (m)</h4></td>
        <td><input id="a-compounded" /></td>
    </tr>

    <tr>
        <td><h4>Net Present Value (P)</h4></td>
        <td><input id="a-present-value" /></td>
    </tr>
</table>

<button type="button" id="reset-btn" class="btn btn-danger">Reset Values</button>

@Scripts.Render("~/Scripts/annuity-calculator.js")

<h5>"m" and "M" have hidden, default values of 1 if you choose to not enter your own values for them.</h5>